$pageWidth=780px;
$pageHeight=480px;
$pagePadding=10px;
$pageMarginY = 120px;
$pageMarginX = 60px;
$pageSpaceX = $pageWidth + ($pageMarginX * 2) + ($pagePadding * 2);
$pageSpaceY = $pageHeight  + ($pagePadding * 2);
$pageBg = #FDFDFD;
$pageShadowSize = 10px;
$wrapperWidth = $pageWidth + ($pagePadding * 2) + $pageShadowSize;
$wrapperHeight = $pageHeight + ($pagePadding * 2) + $pageShadowSize;
$controlsSize = 50px;
