.pages-wrapper{
	//position:absolute;
	&.pos-1{
		background:url(../images/bg/firstBG.jpg) 50% 0 no-repeat fixed;
		color: white;
		margin:0;
	}

	&.pos-2{
		background: url(../images/bg/secondBG.jpg) 50% 0 no-repeat fixed;
		color: white;
		margin: 0 auto;
		overflow: hidden;
		padding: 0;
		.bg{
			background: url(../images/bg/trainers.png) 50% 0 no-repeat fixed;
		}
	}

	&.pos-3{
		background: url(../images/bg/thirdBG.jpg) 50% 0 no-repeat fixed;
		color: white;
	}

	&.pos-4{
		background: url(../images/bg/bubbles2.png), url(../images/bg/bubbles2.png), url(../images/bg/bubbles1.png), url(../images/bg/fourthBG.jpg);
		background-position: 50% 0, 50% 0, 50% 0, 50% 0;
		background-color: #036;
		background-attachment: fixed;
		background-repeat: repeat, repeat, repeat ,no-repeat;
		color: white;
	}

	&.pos-5{
		background: #ccc;
		margin: 0 auto;
	}
}
