.pages-wrapper{
	//position:absolute;
	&.pos-1{
		.bg-1{
			background:url(../images/bg/bg.001.png) 50% 50%;
			background-size:70%;
		}	
		.bg-2{background-image:url(../images/bg/bg.002.png);}	
		.bg-3{background-image:url(../images/bg/bg.003.png);}	
	}

	&.pos-2{
		.bg-1{background-image:url(../images/bg/bg.004.png);}	
		.bg-2{background-image:url(../images/bg/bg.005.png);}	
		.bg-3{background-image:url(../images/bg/bg.006.png);}	
	}

	&.pos-3{
		.bg-1{background-image:url(../images/bg/bg.007.png);}	
		.bg-2{background-image:url(../images/bg/bg.008.png);}	
		.bg-3{background-image:url(../images/bg/bg.009.png);}
	}

	&.pos-4{
		.bg-1{background-image:url(../images/bg/bg.010.png);}	
		.bg-2{background-image:url(../images/bg/bg.011.png);}	
		.bg-3{background-image:url(../images/bg/bg.012.png);}
	}

	&.pos-4{
		.bg-1{background-image:url(../images/bg/bg.013.png);}	
		.bg-2{background-image:url(../images/bg/bg.014.png);}	
		.bg-3{background-image:url(../images/bg/bg.015.png);}
	}

	&.pos-5{
		.bg-1{background-image:url(../images/bg/bg.016.png);}	
		.bg-2{background-image:url(../images/bg/bg.017.png);}	
		.bg-3{background-image:url(../images/bg/bg.018.png);}
	}
	
	&.pos-6{
		.bg-1{background-image:url(../images/bg/bg.019.png);}	
		.bg-2{background-image:url(../images/bg/bg.020.png);}	
		.bg-3{background-image:url(../images/bg/bg.021.png);}
	}
	
	&.pos-7{
		.bg-1{background-image:url(../images/bg/bg.022.png);}	
		.bg-2{background-image:url(../images/bg/bg.023.png);}	
		.bg-3{background-image:url(../images/bg/bg.024.png);}
	}
}
