.pages-wrapper{
	//position:absolute;
	&.pos-1{
		.bg-1{
			background-image:url(../backgrounds/kc.006.png);
		}
		.bg-2{
			background-image:url(../backgrounds/kc.004.png);
		}
	}

	&.pos-2{
		.bg-1{
			background-image:url(../backgrounds/kc.006.png);
		}
		.bg-2{
			background-image:url(../backgrounds/kc.004.png);
		}
	}

	&.pos-3{
		.bg-1{
			background: url(../images/bg/thirdBG.jpg) 50% 0 no-repeat fixed;
		}
	}

	&.pos-4{
		.bg-1{
			background: url(../images/bg/bubbles1.png), url(../images/bg/bubbles1.png)
			background-position: 50% 0, 50% 0;
			background-color: #036;
			background-attachment: fixed;
			background-repeat: repeat, repeat, repeat ,no-repeat;
		}
	}

	&.pos-5{
		.bg-1{
			background: #ccc;
			margin: 0 auto;
		}
	}
}
