.top{
	width:100%;
	height:20px;
	font-size:260%;
	font-weight:bold;
	margin:7px 0 20px 0;
	letter-spacing:1px;
//	text-shadow -1px -1px rgba(0,0,0,.5);
}
.body{
	width:100%;
	height:$pageHeight - 70;
	line-height:1em;
	text-align:justify;
	h1,h2,h3,h4,h5{
		background:#FDFDFD;
	}
}



