pageWrapperPos($pos)
	&.pos-{$pos}
		position:absolute
		top:($wrapperHeight + ($pageMarginY * 2)) * ($pos - 1);
		left: 0

.pages-wrapper{
	position:relative;
	overflow:hidden;
	width:100%;
	height:$wrapperHeight + ($pageMarginY * 2);
	top:0;
	left:0;
	border-bottom:3px solid red;
	.bg{
		margin: 0 auto;
		padding: 0;
		position: absolute;
		width: 100%;
		height:100%;
		background-attachment:fixed;
	}
	.bg-1{
		background-repeat:no-repeat;
		background-position:top right;
		background-size:contain;
	}
	.bg-2{
		background-repeat:repeat-x;
		background-position:bottom center;
	}
	for num in 1 2 3 4 5 6 7 8 9 10 11 12 13{
		pageWrapperPos(num);
	}
	&.fixed{
		position:fixed;
	}
	&.footer{
		height:30px;
	}
}

.pages-slider{
	width:$wrapperWidth;
	min-height:$wrapperHeight;
	position:relative;
	margin:0 auto;
	padding:$pageMarginY 0 $pageMarginY 0;
}


pagePos($pos){
	top: $pageMarginY;
	left: $pageSpaceX * $pos;
}

.page{
	width:$pageWidth;
	height:$pageHeight;
	box-shadow(1px,1px,10px,5px,rgba(0,0,0,0.3));
	background-color:$pageBg;
	float:left;
	display:block;
	padding:$pagePadding;
	position:absolute;
	&.pos-2{
		pagePos(1);
	}
	&.pos-3{
		pagePos(2);
	}
	&.pos-4{
		pagePos(3);
	}
	&.pos-5{
		pagePos(4);
	}
	&.pos-6{
		pagePos(5);
	}
	&.pos-7{
		pagePos(6);
	}
	&.pos-8{
		pagePos(7);
	}
	&.pos-9{
		pagePos(8);
	}
	&.pos-10{
		pagePos(9);
	}
}

