@import 'scroll';
@import 'normalize';

$beige = #FDFDFD;
$red = #EE6262;

.animated{
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

body{
	//font-family: Baskerville, "Hoefler Text", Garamond, "Times New Roman", serif;
	font-family:"Helvetica Neue",Helvetica,Verdana,Arial,sans;
	background: #fdfdfd url(../images/pattern.png) repeat top left;
	font-weight: 400;
	font-size: 12px;
	color: #333;
	overflow-y: hidden;
	overflow-x: hidden;
	width:100%;
	height:100%;
}
h1, h3, h4{
	font-weight: 400;
}
h1{
	font-style: italic;
	border-bottom: 1px solid rgba(126, 126, 126, 0.3);
	padding: 35px 15px 15px 15px;
	margin: 0px 20px 20px 20px;
	position: relative;
	font-size: 38px;
}
h2{
	font-size: 40px;
	padding-bottom: 15px;
	//border-bottom: 5px solid rgba(190, 211, 226, 0.2);
	border-bottom:5px solid rgba(210, 191, 199, 0.2);
	color: $red;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.4);
	//box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.4);
	font-weight: 700;
}
h3, .blogEntries h2{
	//font-style: italic;
	font-size: 30px;
	color: #585959;
	font-weight:700;
	text-shadow: 1px 0px 1px rgba(255, 255, 255, 0.4);
}
h4{
	text-transform: uppercase;
	letter-spacing: 5px;
	line-height: 20px;
	padding: 10px 0px;
	color: lighten($red,10);
	border-bottom: 1px solid rgba(126, 126, 126, 0.1);
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.4);
}
a{
	color: darken($red,10);
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
}
a:hover{
	color: #fdfdfd;
}
.submenu a{
	display:inline-block;
	padding:2px;
	background:darken($red,10);
	color:#FDFDFD;
}
.logo{
	text-align: center;
	background:url('logo.png') 50% 50% no-repeat;
	margin-top:50px;
	width:250px;
	height:122px;
}
.author{
	text-transform: uppercase;
	display: block;
	letter-spacing: 2px;
	font-weight: 700;
	padding: 20px 10px;
}
.menu{
	position: fixed;
	z-index: 100;
	color: #f8f8f8;
	background: #131313;
	width: 250px;
	left: 0px;
	top: 0px;
	height: 100%;
	nav{
		position: absolute;
		top: 250px;
		left: 0px;
		right: 0px;
		bottom: 50px;
		a{
			display: block;
			padding: 10px 20px;
			text-align: center;
			outline: none;
			//border-bottom: 1px dashed rgba(186, 186, 186, 0.2);
			@extend .animated;
			span{
				font-weight:bold;
				&:nth-child(2){
					display: block;
					color: #fff;
					font-style: italic;
					font-weight: 400;
					text-transform: none;
					padding-top: 3px;
				}
			}
			&:first-child{
			//	border-top: 1px dashed rgba(126, 126, 126, 0.2);
			}
			&:active,&.current{
				color:#FDFDFD;
			}
			&:hover{
				
				text-decoration:underline;
			}
		}
	}
}




.content-scroller{
	position: absolute;
	left: 250px;
	right: 0px;
	overflow: hidden;
	height: 100%;
}
.content-wrapper{
	width: 7950px;
	position: absolute;
	height: 100%;
	overflow: hidden;
}
.content{
	width:700px;
	overflow-y: scroll;
	height: 100%;
	float: left;
	//border-right: 1px dashed #A9BECD;
	//border-left: 1px dashed #A9BECD;
	//border-right: 1px dashed rgba(126, 126, 126, 0.2);
	//border-left: 1px dashed rgba(255, 255, 255, 0.5);
	background-color: #DDD;
	background-image:url('../images/pattern.png');
	border-left:1px solid #bbb;
	color:#222;
	@extend .animated;
}
.content.embedded{
	color:#aaa;
	h2,h3,a{
		color:#BBB;
	}
	.submenu a{
		background:#BBB;
		color:#fdfdfd;
	}
}
.content:hover, .content-active{
	background: rgba($beige,.5);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0, 0.6);
	border-left-color:transparent;
	color:#222;
	h2{
		color:darken($red,15);
	}
	h3{
		color:#BBB;
	}
	a{
		color:darken($red,15);
	}
	.submenu a{
		background:darken($red,10);
		color:#fdfdfd;
	}
	p,ul,ol{
		color:#222;
	}
}
.content:hover .jspVerticalBar,
.menu nav:hover .jspVerticalBar{
	opacity: 1;
}

.inner{
	padding: 30px 20px 10px 30px;
	p,ul,ol{
		font-size: 18px;
		line-height: 24px;
	}
	p{
		text-align: justify;
		position: relative;
		padding: 10px 0px;
		text-shadow: 1px 0px 1px rgba(255, 255, 255, 0.8);
		&:first-letter{
			font-size: 28px;
		}
	}
}

a.totop-link{
	display: none;
	content: 'Scroll to top';
	position: fixed;
	z-index: 10000;
	bottom: 0px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #aaa;
	text-shadow: 1px 1px 1px #fff;
	font-weight: 700;
	cursor: pointer;
	text-transform: uppercase;
	text-align: center;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* W3C */
	border-top: 1px solid #cacaca;
}
/* Media Queries */
@media screen and (max-width: 1024px) {
	.jspVerticalBar{
		opacity: 1;
	}
	.content-scroller{
		overflow-x: scroll;
	}
	.content:hover{
		background: transparent;
	}
	.content-active:hover {
		background: #f1f5f8;
	}
}
@media screen and (max-width: 715px) {
	body{
		overflow-x: auto;
		overflow-y: auto;
	}
	.codrops-top a{
		background: #000;
		color: #fff;
		text-shadow: none;
	}
	.codrops-top a:nth-child(1){
		left: 10px;
	}
	a.totop-link{
		display: block;
	}
	.menu{
		position: relative;
		width: 100%;
		height: 460px;
	}
	.menu nav{
		top: 230px;
		bottom: 20px;
	}
	.content-scroller{
		position: relative;
		height: auto;
		left: 0;
	}
	.content-wrapper{
		height: auto;
		width: auto;
		margin-left: 0px;
	}
	.content{
		border: none;
	}
	.content, .content:first-child{
		width: auto;
		float: none;
		overflow-y: auto;
	}
}

.date{
	font-size:14px;
	letter-spacing:2px;
	color:#CCC;
	padding:0;
}
.blogEntries h2, .members h2{
	font-size:20px;
	border-bottom:none;
	border-top: 1px solid rgba(126, 126, 126, 0.1);
	padding-top:10px;
}
.blogEntries .blogSummary, .members .memberSummary{
	margin-bottom:40px;
}
.members p{
	padding:0;
}
.links{
	padding-bottom:20px;
	float:left;
	clear:both;
	width:100%;
	margin-bottom:5px;
}
.links a{
	display:block;
	float:left;
	width:24px;
	height:24px;
	overflow:hidden;
	text-indent:-9999px;
	background-position:50% 50%;
	background-repeat:no-repeat;
	background-size:cover;
	margin-right:5px;
}

.links a.facebook{background-image:url('../images/icons/facebook.png');}
.links a.twitter{background-image:url('../images/icons/twitter.png');}
.links a.linkedin{background-image:url('../images/icons/linkedin.png');}
.links a.wordpress{background-image:url('../images/icons/wordpress.png');}

.tags a{
	display:inline-block;
	padding:4px;
	margin:0 2px;
	font-size:11px;
	background:#FCFFFF;
	outline: 1px dashed #D8DBD9;
	outline-offset: -2px;
}

form{
	fieldset{
		border:none;
		font-size:16px;
		input,textarea{
			width:350px;
		}
	}
	.Actions{
		padding-left:12px;
	}
	em{
		color:$red;
	}
}

img.left,img.right{
	margin:5px;
}
img.left{
	float:left;
}
img.right{
	float:right;
}

#Comments{
	margin-top:40px;
	h3{
		font-size:20px;
	}
	a{
		font-size:14px;
	}
}

